*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // font-size: 10px;  1rem = 10px --> px / 10 = rem
  // 100% = 16px, x = 10px --> x =
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}